# Database
*.db

# Python
__pycache__/
*.py[cod]

# Environments
.venv/
env/

# AI models
*.pt
*.pth
*.bin
*.gguf
*.safetensors
*.onnx
data/models/

# Recordings / media
*.mkv
*.mp4
*.wav
data/recordings/